<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Animales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row><!--Cada user(que es una variable cualquiera) tendrá el valor de un usuario del array-->
      <ion-col *ngFor="let animal of animals | async" size-xl="3" size-lg="4" size-md="5" size-sm="8" size-xs="12">
        <ion-card>
          <ioncard-content>

            <!-- <ion-avatar>
              <img [src]="https://www.google.com/imgres?imgurl=https%3A%2F%2Fokdiario.com%2Fimg%2F2019%2F12%2F08%2Fcomo-podemos-ayudar-con-los-animales-en-peligro-de-extincion-655x368.jpg&imgrefurl=https%3A%2F%2Fokdiario.com%2Fmascotas%2Fcomo-podemos-ayudar-animales-peligro-extincion-4909518&tbnid=Ctcnn39NMjdhMM&vet=12ahUKEwjkysGIuujsAhVJwIUKHZTwB0IQMygAegUIARDNAQ..i&docid=PbVMDA7h-lCECM&w=655&h=368&q=animales&ved=2ahUKEwjkysGIuujsAhVJwIUKHZTwB0IQMygAegUIARDNAQ">
            </ion-avatar> -->

            <h1> {{ animal.Name }} </h1>
            <h2>Scientific Name:<br></h2>
            <h4> {{ animal.Scientific_Name }} </h4>
            <h6>Age: {{ animal.Max_age }}</h6>
            <h6>Gender: {{ animal.Gender }}</h6>
            <h6><i>Color: {{ animal.Color }}</i></h6>
          </ioncard-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
