<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">
      Animales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="colorFondo">

  <ion-input id="pregunta" type="number" min="0" max="999" [(ngModel)]="num" placeholder="¿Cuántos animales de los siguientes conoces?:">
    <a *ngIf="num <= 10" href="https://es.wikipedia.org/wiki/Animalia">Más</a>
  </ion-input>

  <ion-input id="filtro" type="" [(ngModel)]="filtro"  placeholder="Buscar por género"  class="card">
  </ion-input>

    <ion-grid>
      <ion-row>
        <ng-container *ngFor="let animal of animals | async">
          <ion-col *ngIf="filtro == '' || animal.Gender == filtro" size-xl="3" size-lg="4" size-md="5" size-sm="8" size-xs="12" class="backColor">
            <ion-card class="card">
              <ion-card-header>
                <h1> {{ animal.Name }} </h1>
              </ion-card-header>
              <ion-card-content>

                <h2>Scientific Name:</h2>
                <h4> {{ animal.Scientific_Name }} </h4>

                <h6 class="colorAge">Age: {{ animal.Max_age }}</h6>
                <h6 class="gender">Gender: {{ animal.Gender }}</h6>
                <h6 class="color"><b>Color: {{ animal.Color }}</b></h6>

              </ion-card-content>
            </ion-card>
          </ion-col>
        </ng-container>
      </ion-row>
    </ion-grid>
</ion-content>
